@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 500px;
}

h1 {
  font-size: large;
  font-weight: 500;
}

p, label, input, select {
font-family: Arial, sans-serif;
}

button {
  background-color: #F9E1E4
}

.navButtons {
  padding-top: 1em;
  padding-bottom: 1em;
}
@media (max-width: 570px) {
  .container {
    width: 90%;
  }

  p, label, input, select, textarea {
    font-size: small;
  }

  h1 {
    font-size: medium;
  }

  .navButtons {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}

@media (max-width: 425px) {
  p, label, input, select, textarea {
    font-size: x-small;
  }

  h1 {
    font-size: small;
  }

  button {
    font-size: small;
  }

  .navButtons {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: large;
  }
}

@media (max-width: 370px) {
  p, label, input, select, textarea {
    font-size: xx-small;
  }

  h1 {
    font-size: x-small;
  }

  button {
    font-size: x-small;
  }

  .navButtons {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: medium;
  }
}